<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/base :: layout(~{::content}, 'Forget Password')}">
    <th:block th:fragment="content">
        <div class="flex items-center justify-center h-dvh">
            <div class="w-1/2 ">
                <div class="w-3/5 m-auto ">
                    <div>
                        <h1 class="font-bold mb-8 text-5xl">Forget password</h1>
                    </div>
                    <form th:if="${isExistCode}" class="space-y-4" id="forget-password-form">
                        <input name="code" id="code" th:value="${code}" class="hidden"/>
                        <div>
                            <label for="email" class="font-medium mb-1 block">Email</label>
                            <input th:value="${email}" name="email" id="email" class="w-full p-2 pl-4 border-2 rounded-2xl border-solid border-gray-200" type="text" placeholder="Enter your email" disabled/>
                        </div>
                        <div>
                            <label for="password" class="font-medium mb-1 block">Password</label>
                            <input name="password" id="password" class="w-full p-2 pl-4 border-2 rounded-2xl border-solid border-gray-200" type="password" placeholder="Enter your password"/>
                        </div>
                        <div>
                            <label for="confirm-password" class="font-medium mb-1 block">Confirm password</label>
                            <input name="confirm-password" id="confirm-password" class="w-full p-2 pl-4 border-2 rounded-2xl border-solid border-gray-200" type="password" placeholder="Confirm your password"/>
                        </div>
                        <button class="border-2 border-solid p-2 rounded-2xl bg-red-500 w-full text-white block">
                            Submit
                        </button>
                    </form>

                    <p th:if="${!isExistCode}">Invalid code</p>
                </div>
            </div>
        </div>

        <script src="/assets/js/pages/user/forget-password.js"></script>
    </th:block>
</th:block>
</html>