<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/profile :: layout(~{::content}, 'Profile')}">
    <th:block th:fragment="content">
        <div class="flex min-h-screen">
            <div class="flex-1">
                <form id="add-address-form" class="space-y-4" method="post" th:action="@{/address/add}">
                    <h2 class="text-3xl font-semibold mb-6">Add address</h2>
                    <div class="grid grid-cols-2 gap-4">
                        <input name="id" th:value="${session.user.id}" hidden/>
                        <div>
                            <label class="block font-semibold text-sm mb-2">
                                Note <span class="text-red-500">*</span>
                            </label>
                            <div class="flex items-center rounded-md bg-white pl-3 outline-1 space-y-2 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600">
                                <input name="note" type="text"
                                       class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6">
                            </div>
                        </div>
                        <div>
                            <label class="block font-semibold text-sm mb-2">
                                Phone Number <span class="text-red-500">*</span>
                            </label>
                            <div class="flex items-center rounded-md bg-white pl-3 outline-1 space-y-2 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600">
                                <input name="phone" type="tel"
                                       class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6">
                            </div>
                        </div>
                    </div>

                    <div>
                        <label class="block font-semibold text-sm mb-2">
                            Address <span class="text-red-500">*</span>
                        </label>
                        <div class="flex items-center rounded-md bg-white pl-3 outline-1 space-y-2 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600">
                            <input name="detail" type="text"
                                   class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6">
                        </div>

                    </div>

                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label class="block font-semibold text-sm mb-2">
                                Province <span class="text-red-500">*</span>
                            </label>
                            <div class="flex items-center rounded-md bg-white pl-3 outline-1 space-y-2 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600">

                                <select id="province-select" name="provinceId"
                                        class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6">
                                    <option value="">-- Province --</option>
                                    <option th:each="p : ${provinces}"
                                            th:value="${p.id}"
                                            th:text="${p.name}">
                                    </option>
                                </select>
                            </div>

                        </div>
                        <div>
                            <label class="block font-semibold text-sm mb-2">
                                Ward
                            </label>
                            <div class="flex items-center rounded-md bg-white pl-3 outline-1 space-y-2 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600">
                                <select id="ward-select" name="wardsId"
                                        class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6">
                                    <option value="">-- Ward --</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-end pt-4">
                        <button type="submit"
                                class="inline-flex justify-center bg-blue-600 px-6 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 cursor-pointer">
                            Add
                        </button>
                    </div>
                </form>

                <script src="/assets/js/pages/user/address.js"></script>
            </div>
        </div>
    </th:block>
</th:block>
<footer th:replace="~{fragment/user/footer :: footer}"></footer>

</html>