<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/profile :: layout(~{::content}, 'Profile')}">
    <th:block th:fragment="content">
        <div class="flex min-h-screen">
            <div class="flex-1">
                <form id="add-address-form" class="space-y-4" method="post" th:action="@{/address/add}">
                    <h2 class="text-xl font-semibold mb-6">Add address</h2>
                    <div class="grid grid-cols-2 gap-4">
                        <input name="id" th:value="${session.user.id}" hidden />
                        <div>
                            <label class="block font-semibold text-sm mb-2">
                                Note <span class="text-red-500">*</span>
                            </label>
                            <input name="note" type="text"
                                   class="w-full border-2 border-gray-300 rounded px-4 py-3 focus:outline-none focus:border-blue-500">
                        </div>
                        <div>
                            <label class="block font-semibold text-sm mb-2">
                                Phone Number <span class="text-red-500">*</span>
                            </label>
                            <input name="phone" type="tel"
                                   class="w-full border-2 border-gray-300 rounded px-4 py-3 focus:outline-none focus:border-blue-500">
                        </div>
                    </div>

                    <div>
                        <label class="block font-semibold text-sm mb-2">
                            Address <span class="text-red-500">*</span>
                        </label>
                        <input name="detail" type="text"
                               class="w-full border-2 border-gray-300 rounded px-4 py-3 focus:outline-none focus:border-blue-500">
                    </div>

                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label class="block font-semibold text-sm mb-2">
                                Province <span class="text-red-500">*</span>
                            </label>
                            <select name="provinceId"
                                    class="w-full border-2 border-gray-300 rounded px-4 py-3 focus:outline-none focus:border-blue-500">
                                <option value="">-- Province --</option>
                                <option th:each="p : ${provinces}"
                                        th:value="${p.id}"
                                        th:text="${p.name}">
                                </option>
                            </select>
                        </div>
                        <div>
                            <label class="block font-semibold text-sm mb-2">
                                Ward
                            </label>
                            <select name="wardsId"
                                    class="w-full border-2 border-gray-300 rounded px-4 py-3 focus:outline-none focus:border-blue-500">
                                <option value="">-- Ward --</option>
                                <option th:each="w : ${wards}"
                                        th:value="${w.id}"
                                        th:text="${w.name}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="flex gap-4 mt-8">
                        <button type="submit"
                                class="inline-flex  justify-center rounded-md bg-blue-600 px-6 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 cursor-pointer">
                            Add
                        </button>
                    </div>
                </form>

                <script src="/assets/js/pages/user/address.js"></script>
            </div>
        </div>
    </th:block>
</th:block>
<footer th:replace="~{fragment/user/footer :: footer}"></footer>

</html>