<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/profile :: layout(~{::content}, 'Profile')}">
    <th:block th:fragment="content">
        <div class="flex min-h-screen">
            <div class="flex-1">
                <div class="w-full">
                    <div class="flex">
                        <h2 class="text-3xl font-bold">Address</h2>
                        <a th:href="@{/address/add}" id="add-product-type-btn-navbar"
                           class="inline-flex ml-auto justify-center bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 sm:w-auto cursor-pointer">
                            Add New Address
                        </a>
                    </div>

                    <p class="pb-5 space-y-4 mt-5 text-base">This is the address where you usually receive goods.
                    </p>
                    <div th:if="${#lists.isEmpty(listAddress)}"
                         class="text-gray-500 italic text-sm p-2 shadow-sm">
                        You haven't added any address yet.
                    </div>
                </div>

                <div class="flex flex-col gap-4 w-full">
                    <div th:each="address : ${listAddress}" class="p-2 shadow-sm bg-grey-3 pl-5">
                        <div class="flex justify-between items-start">
                            <span th:if="${session.user != null}" class="text-ml" th:text="${session.user.fullName} + '  | ' + ${address.phoneNumber}"></span>
                            <div class="space-x-2">
                                <a th:href="@{/address/edit/{id}(id=${address.id})}"
                                   class="text-blue-600 hover:underline text-sm font-semibold">Edit</a>

                                <a th:href="@{/address/delete}"
                                   class="text-blue-600 hover:underline text-sm font-semibold">Delete</a>
                            </div>
                        </div>

                        <p class="text-gray-700 text-sm">
                            <span th:text="${address.addressDetail}"></span>
                        </p>
                        <div class="flex justify-between item-start">
                            <p class="text-gray-700 text-sm">
                                <span th:text="${address.province.name + ', ' + address.wards.name}"></span>
                            </p>
                            <div>
                                <button class="inline-flex ml-auto justify-center px-5 py-1 text-sm font-semibold text-gray-600 shadow-xs border border-gray-300 hover:bg-gray-50 sm:w-auto cursor-pointer">
                                Set a default
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/assets/js/pages/user/address.js"></script>
    </th:block>
</th:block>
<footer th:replace="~{fragment/user/footer :: footer}"></footer>

</html>