<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/profile :: layout(~{::content}, 'Profile')}">
    <th:block th:fragment="content">
        <div class="flex min-h-screen">
            <div class="flex-1">
                <div class="max-w-2xl mx-2">
                    <h2 class="text-xl font-semibold mb-6">Address</h2>
                    <p class="pb-5 space-y-4  text-base">This is the address where you usually receive goods.
                    </p>
                    <div th:if="${#lists.isEmpty(listAddress)}"
                         class="text-gray-500 italic text-sm p-2 rounded-md shadow-sm bg-grey-3">
                         You haven't added any address yet.
                    </div>
                </div>

                <div class="flex flex-col gap-4 max-w-3xl mb-3">
                   <div th:each="address : ${listAddress}" class="p-2 rounded-md shadow-sm bg-grey-3">
                       <div class ="items-center">
                           <strong class="text-ml " th:text="${address.note}">

                           </strong>
                           <p class="text-gray-700 text-sm">
                               Address:
                               <span th:text="${address.}">

                               </span>
                           </p>

                           <p class="text-gray-700 text-sm">
                               Phone:
                               <span th:text="${address.phone}">
                               </span>
                           </p>

<!--                           <div class="w-45 text-center bg-yellow-300 text-black px-4 py-2 rounded hover:bg-yellow-400">-->
<!--                               <a >Delete</a>-->
<!--                           </div>-->
                       </div>
                   </div>
                </div>

                <div class="max-w-2xl">
                    <div class="inline-flex  justify-center rounded-md bg-blue-600 px-6 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 cursor-pointer">
                        <a th:href="@{/address/add}">Add New Address</a>
                    </div>
                </div>
            </div>

        </div>
        <script src="/assets/js/pages/user/address.js"></script>
    </th:block>
</th:block>
</html>