<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/profile :: layout(~{::content}, 'Profile')}">
    <th:block th:fragment="content">
        <div class="flex min-h-screen">
            <div class="flex-1">
                <div class="w-full">
                    <div class="flex">
                        <h2 class="text-3xl font-bold">Address</h2>
                        <a th:href="@{/address/add}" id="add-product-type-btn-navbar"
                           class="inline-flex ml-auto justify-center bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 sm:w-auto cursor-pointer">
                            Add address
                        </a>
                    </div>

                    <p class="pb-3 space-y-4 mt-4 text-base">This is the address where you usually receive goods.
                    </p>
                    <div th:if="${#lists.isEmpty(listAddress)}"
                         class="text-gray-500 italic text-sm p-2 shadow-sm">
                        You haven't added any address yet.
                    </div>
                </div>

                <div class="flex flex-col gap-4 w-full">
                    <div th:each="address : ${listAddress}" class="p-4 shadow-sm bg-grey-3 space-y-2">
                        <div class="flex justify-between items-start w-full">
                            <div class="flex items-center space-x-1">
                                <span th:if="${session.user != null}" class="text-ml"
                                      th:text="${session.user.fullName} + ' | ' + ${address.phoneNumber}">
                                </span>
                                <span th:if="${address.default}"
                                      class="mx-2 ml-1 inline-flex justify-center px-3 text-xs font-semibold text-red-500 shadow-xs border border-red-500 rounded-2xl sm:w-auto">
                                     Default
                                </span>
                                <a th:href="@{/address/edit/{id}(id=${address.id})}"
                                   class="text-gray-500 hover:text-blue-600">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
                                    </svg>
                                </a>
                            </div>

                            <div class="flex space-x-2 ml-auto">
                                <button type="button"
                                        class="delete-address-btn bg-transparent border-0 p-0 text-gray-500 hover:text-red-600 transition-colors duration-150 cursor-pointer"
                                        th:data-id="${address.id}"
                                        th:if="${!address.isDefault}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-4.5 h-4.5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M6 18 18 6M6 6l12 12"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="flex justify-between item-start">
                            <p class="text-gray-700 text-sm">
                                <span th:text="${address.addressDetail + ', ' + address.province.name + ', ' + address.ward.name}"></span>
                            </p>
                            <div>
                                <button th:if="${!address.default}"
                                        th:attr="data-id=${address.id}"
                                        th:href="@{/address/add}"
                                        class="set-default-btn inline-flex ml-auto justify-center bg-gray-50 px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs hover:bg-blue-500 sm:w-auto cursor-pointer hover:text-white">
                                    Set as default
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/assets/js/pages/user/address.js"></script>
    </th:block>
</th:block>
<footer th:replace="~{fragment/user/footer :: footer}"></footer>
</html>