<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/profile :: layout(~{::content}, 'Change password')}">
    <th:block th:fragment="content">
        <h2 class="text-3xl font-semibold mb-6">Change Password</h2>
        <form class="space-y-4 max-w-2xl" id="change-password-form">
            <input name="id" th:value="${session.user.id}" hidden/>
            <div>
                <label for="old-password" class="block font-medium mb-1">Current Password</label>
                <input
                        id="old-password"
                        name="old-password"
                        type="password"
                        placeholder="Enter your current password"
                        autocomplete="current-password"
                        required
                        class="w-full px-4 py-2.5 border border-2 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300 text-sm border border-gray-300">
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label for="new-password" class="block font-medium mb-1">New Password</label>
                    <input
                            id="new-password"
                            name="new-password"
                            type="password"
                            placeholder="Enter your new password"
                            autocomplete="new-password"
                            required
                            class="w-full px-4 py-2.5 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-400 text-sm border border-gray-300">
                </div>
                <div>
                    <label for="confirm-password" class="block font-medium mb-1">Confirm New Password</label>
                    <input
                            id="confirm-password"
                            name="confirm-password"
                            type="password"
                            placeholder="Confirm your new password"
                            autocomplete="new-password"
                            required
                            class="w-full px-4 py-2.5 border border-2 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300 text-sm border border-gray-300"
                    />
                </div>
            </div>
            <div class="flex justify-end pt-4">
                <button type="submit"
                        class="inline-flex w-full justify-center bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 sm:w-auto cursor-pointer">
                    Apply
                </button>
            </div>
        </form>

        <script src="/assets/js/pages/user/change-password.js"></script>
    </th:block>
    <footer th:replace="~{fragment/user/footer :: footer}"></footer>
</th:block>
<footer th:replace="~{fragment/user/footer :: footer}"></footer>
</html>
