<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/base :: layout(~{::content}, 'Change Password')}">
    <th:block th:fragment="content">
        <header th:replace="~{fragment/header :: header}"></header>

        <main class="bg-gray-100 font-sans">
            <div class="flex min-h-screen max-w-7xl mx-auto px-4 py-6">
                <div th:replace="~{fragment/profile :: profile-slidebar}"></div>

                <div class="flex-1 p-8 bg-white shadow-md m-4 rounded">
                    <h2 class="text-xl font-semibold mb-6">Change Password</h2>

                    <form class="space-y-4 max-w-2xl" id="change-password-form">
                        <input name="id" th:value="${session.user.id}" hidden />

                        <div>
                            <label for="old-password" class="block font-medium mb-1">Current Password</label>
                            <input
                                    id="old-password"
                                    name="old-password"
                                    type="password"
                                    placeholder="Enter your current password"
                                    autocomplete="current-password"
                                    required
                                    class="w-full px-4 py-2.5 bg-gray-100 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300 text-sm"
                            />
                        </div>

                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <label for="new-password" class="block font-medium mb-1">New Password</label>
                                <input
                                        id="new-password"
                                        name="new-password"
                                        type="password"
                                        placeholder="Enter your new password"
                                        autocomplete="new-password"
                                        required
                                        class="w-full px-4 py-2.5 bg-gray-100 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300 text-sm"/>
                            </div>
                            <div>
                                <label for="confirm-password" class="block font-medium mb-1">Confirm New Password</label>
                                <input
                                        id="confirm-password"
                                        name="confirm-password"
                                        type="password"
                                        placeholder="Confirm your new password"
                                        autocomplete="new-password"
                                        required
                                        class="w-full px-4 py-2.5 bg-gray-100 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300 text-sm"
                                />
                            </div>
                        </div>

                        <div class="flex items-center gap-3">
                            <button
                                    type="submit"
                                    class="cursor-pointer bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700"
                            >
                                Change Password
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </main>

        <script src="/assets/js/pages/user/change-password.js"></script>
    </th:block>
</th:block>
</html>
