<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/profile :: layout(~{::content}, 'Profile')}">
    <th:block th:fragment="content">
        <div class="flex min-h-screen">
            <div class="flex-1">
                <form id="edit-address-form"
                      th:action="@{/address/edit}" method="post"
                      class="space-y-4">
                    <h2 class="text-3xl font-bold mb-6">Edit address</h2>

                    <input type="hidden" name="id" th:value="${address.id}"/>
                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label class="block font-semibold text-sm mb-2">
                                Note <span class="text-red-500">*</span>
                            </label>

                            <input name="note" type="text"
                                   th:value="${address.note}"
                                   class="w-full px-4 py-2.5 border border-2 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300 text-sm border border-gray-300">
                        </div>
                        <div>
                            <label class="block font-semibold text-sm mb-2">
                                Phone Number <span class="text-red-500">*</span>
                            </label>

                            <input name="phone" type="tel"
                                   th:value="${address.phoneNumber}"
                                   class="w-full px-4 py-2.5 border border-2 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300 text-sm border border-gray-300">

                        </div>
                    </div>

                    <div>
                        <label class="block font-semibold text-sm mb-2">
                            Address <span class="text-red-500">*</span>
                        </label>

                        <input name="detail" type="text"
                               th:value="${address.addressDetail}"
                               class="w-full px-4 py-2.5 border border-2 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300 text-sm border border-gray-300">

                    </div>

                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label class="block font-semibold text-sm mb-2">
                                Province <span class="text-red-500">*</span>
                            </label>

                            <select id="province-select" name="provinceId"
                                    class="w-full px-4 py-2.5 border border-2 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300 text-sm border border-gray-300">
                                <option value="">-- Province --</option>
                                <option th:each="p : ${provinces}"
                                        th:value="${p.id}"
                                        th:text="${p.name}"
                                        th:selected="${address.province != null and address.province.id == p.id}">
                                </option>
                            </select>

                        </div>
                        <div>
                            <label class="block font-semibold text-sm mb-2">
                                Ward
                            </label>

                            <select id="ward-select" name="wardId"
                                    class="w-full px-4 py-2.5 border border-2 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300 text-sm border border-gray-300">
                                <option value="">-- Ward --</option>
                                <option th:each="w : ${wards}"
                                        th:value="${w.id}"
                                        th:text="${w.name}"
                                        th:selected="${address.ward != null and address.ward.id == w.id}">
                                </option>
                            </select>

                        </div>
                    </div>

                    <div class="flex justify-end pt-4">
                        <button type="submit"
                                class="inline-flex justify-center bg-blue-600 px-6 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 cursor-pointer">
                            Update
                        </button>
                    </div>
                </form>

                <script src="/assets/js/pages/user/address.js"></script>
            </div>
        </div>
    </th:block>
</th:block>

<footer th:replace="~{fragment/user/footer :: footer}"></footer>
</html>