<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/base :: layout(~{::content}, 'Home')}">
    <th:block th:fragment="content">
        <header th:replace="~{fragment/user/header :: header}"></header>
        <th:block th:replace="~{fragment/user/navbar :: navbar}"></th:block>

        <div class="max-w-7xl bg-gradient-to-r from-gray-100 to-gray-200 shadow-md p-6 mt-4 mb-4 mx-auto rounded-xl">

            <div class="grid grid-cols-2">
                <div>
                    <img th:if="${product.productMedia.size() > 0}"
                         th:src="${product.productMedia.get(0).dir}"
                         alt="Product image"
                         class="w-full h-[400px] object-contain">
                </div>
                <div class="space-y-4">
                    <div>
                        <h1 class="text-2xl font-bold" th:text="${product.title}"></h1>
                        <p class="text-gray-700 leading-relaxed" th:text="${product.description}"></p>
                    </div>

                    <div th:each="f : ${product.productType.productPropertyFields}" class="flex space-x-2">
                        <h2 th:text="${'Choose ' + f.name + ':'}"></h2>
                        <div class="space-x-2">
                            <div th:each="foption : ${product.productPropertyData}"
                                 th:if="${foption.productPropertyField.name == f.name}">
                                <input type="radio" class="radio"
                                       th:name="${'option-' + f.id}"
                                       th:id="${'option-id-' + foption.id}" />
                                <label th:for="${'option-id-' + foption.id}" th:text="${foption.data}"></label>
                            </div>
                        </div>
                    </div>

                    <div class="flex space-x-2 items-center">
                        <h2>Amount:</h2>
                        <div class="space-x-2">
                            <input type="number" class="p-1 rounded-xl bg-gray-50 border-2 border-gray-300 w-15 text-center" value="1" min="1" />

                        </div>
                    </div>

                    <button class="inline-flex justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-green-500 cursor-pointer">
                        BUY NOW
                    </button>
                </div>
            </div>

            <div class="mt-10">
                <div class="bg-white w-full rounded-xl shadow-md p-6 text-gray-700">
                    <h2 class="font-semibold text-lg mb-4">Store Policies:</h2>
                    <ul class="space-y-4 text-sm">
                        <li class="flex items-center">No size worries – we help you find your fit</li>
                        <li class="flex items-center">Nationwide delivery – fast & reliable</li>
                        <li class="flex items-center">Flexible payment – cash, transfer, or card</li>
                        <li class="flex items-center">Easy exchange – satisfaction guaranteed</li>
                        <li class="flex items-center">Lifetime warranty – just contact us</li>
                        <li class="flex items-center">Customer appreciation – loyalty discounts</li>
                    </ul>
                </div>
            </div>
        </div>

        <footer th:replace="~{fragment/user/footer :: footer}"></footer>
    </th:block>
</th:block>
</html>