<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/base :: layout(~{::content}, 'Home')}">
    <th:block th:fragment="content">
        <header th:replace="~{fragment/user/header :: header}"></header>
        <nav class="bg-white">
            <div class="max-w-7xl mx-auto px-4">
                <div class="flex items-center justify-between">
                    <span th:each="collection : ${collections}"
                          th:text="${collection.name}"
                          th:attr="onclick=${'scrollToId(`collection-' + collection.id + '`)'}"
                          class="px-4 py-4 hover:text-red-600 font-medium text-gray-700 border-b-2 border-transparent hover:border-red-600 cursor-pointer"></span>
                </div>
            </div>
            <hr class="text-gray-100"/>
        </nav>

        <footer th:replace="~{fragment/user/footer :: footer}"></footer>
        <script src="/assets/js/pages/home.js"></script>
    </th:block>
</th:block>
</html>