<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/base :: layout(~{::content}, 'Verify email')}">
    <th:block th:fragment="content">
        <div class="flex h-dvh bg-white">
            <div class="w-1/2 m-auto">
                <div class="w-3/5 m-auto">
                    <div>
                        <h1 class="font-bold mb-8 text-5xl">Verify email</h1>
                    </div>

                    <p th:text="${result}"></p>
                </div>
            </div>
        </div>

        <script src="/assets/js/pages/user/verify-email.js"></script>
    </th:block>
</th:block>
</html>