<div th:fragment="admin-slidebar" class="w-64 bg-blue-900 shadow-md p-6 mt-4 mb-4 ml-4 rounded-xl">
    <nav class="space-y-2">
        <ul class="text-gray-700 space-y-2">
            <li class="hover:bg-white bg-blue-900 text-white hover:text-blue-900 font-bold p-3 rounded-lg"><a href="#">Manage Product</a></li>
            <li class="hover:bg-white bg-blue-900 text-white hover:text-blue-900 font-bold p-3 rounded-lg"><a href="#">Manage Orders</a></li>
            <li class="hover:bg-white bg-blue-900 text-white hover:text-blue-900 font-bold p-3 rounded-lg"><a href="#">Manage Feedback</a></li>
        </ul>
    </nav>
</div>

<div th:fragment="staff-slidebar" class="w-64 bg-blue-900 shadow-md p-6 mt-4 mb-4 ml-4 rounded-xl">
    <nav class="space-y-2">
        <ul class="text-gray-700 space-y-2">
            <li class="hover:bg-white bg-blue-900 text-white hover:text-blue-900 font-bold p-3 rounded-lg"><a href="#">Manage Users</a></li>
            <li class="hover:bg-white bg-blue-900 text-white hover:text-blue-900 font-bold p-3 rounded-lg"><a href="#">Manage Vouchers</a></li>
            <li class="hover:bg-white bg-blue-900 text-white hover:text-blue-900 font-bold p-3 rounded-lg"><a href="#" >Manage Product</a></li>
            <li class="hover:bg-white bg-blue-900 text-white hover:text-blue-900 font-bold p-3 rounded-lg"><a href="#" >Manage Categories</a></li>
            <li class="hover:bg-white bg-blue-900 text-white hover:text-blue-900 font-bold p-3 rounded-lg"><a href="#" >Manage Product Type</a></li>
            <li class="hover:bg-white bg-blue-900 text-white hover:text-blue-900 font-bold p-3 rounded-lg"><a href="#" >Manage Properties</a></li>
        </ul>
    </nav>
</div>