<div th:fragment="admin-sidebar" class="w-64">
    <div class="bg-black p-6 mt-4 mb-4 ml-4 shadow-sm">
        <nav class="space-y-2">
            <ul class="text-gray-700 space-y-2">
                <li class="hover:bg-white bg-black text-white hover:text-black font-bold px-3 py-2 rounded-lg"><a th:href="@{/manager/user}">Manage user</a></li>
                <li class="hover:bg-white bg-black text-white hover:text-black font-bold px-3 py-2 rounded-lg"><a th:href="@{/manager/staff}">Manage staff</a></li>
<!--                <li class="hover:bg-white bg-black text-white hover:text-black font-bold px-3 py-2 rounded-lg"><a th:href="@{/manager/order}">Manage order</a></li>-->
                <li class="hover:bg-white bg-black text-white hover:text-black font-bold px-3 py-2 rounded-lg"><a th:href="@{/manager/collection}">Manage collection</a></li>
                <li class="hover:bg-white bg-black text-white hover:text-black font-bold px-3 py-2 rounded-lg"><a th:href="@{/manager/type}">Manage product type</a></li>
                <li class="hover:bg-white bg-black text-white hover:text-black font-bold px-3 py-2 rounded-lg"><a th:href="@{/manager/product}">Manage product</a></li>
                <li class="hover:bg-white bg-black text-white hover:text-black font-bold px-3 py-2 rounded-lg"><a th:href="@{/manager/voucher}">Manage voucher</a></li>
<!--                <li class="hover:bg-white bg-black text-white hover:text-black font-bold px-3 py-2 rounded-lg"><a th:href="@{/manager/feedback}">Manage feedback</a></li>-->
            </ul>
        </nav>
    </div>
</div>

<div th:fragment="staff-sidebar" class="w-64">
    <div class="bg-black shadow-md p-6 mt-4 mb-4 ml-4 shadow-sm">
        <nav class="space-y-2">
            <ul class="text-gray-700 space-y-2">
                <li class="hover:bg-white bg-black text-white hover:text-black font-bold px-3 py-2 rounded-lg"><a th:href="@{/manager/product}">Manage product</a></li>
                <li class="hover:bg-white bg-black text-white hover:text-black font-bold px-3 py-2 rounded-lg"><a th:href="@{/manager/order}">Manage order</a></li>
                <li class="hover:bg-white bg-black text-white hover:text-black font-bold px-3 py-2 rounded-lg"><a th:href="@{/manager/feedback}">Manage feedback</a></li>
            </ul>
        </nav>
    </div>
</div>