<header th:fragment="header" class="bg-gradient-to-br from-red-500 to-red-900 shadow-sm">
    <div class="max-w-7xl mx-auto px-4 py-4">
        <div class="flex items-center justify-between">
            <a th:href="@{/}" class="flex items-center space-x-3">
                <div class="relative">
                    <img src="https://png.pngtree.com/png-vector/20250303/ourmid/pngtree-classic-black-and-white-soccer-ball-vector-png-image_15697822.png" class="w-15" />
                </div>
                <div>
                    <div class="font-bold text-xl text-white">SPORTS <span class="text-red-200">STORE</span></div>
                    <div class="text-xs text-gray-200">HEART OF THE GAME</div>
                </div>
            </a>
            <div class="flex-1 max-w-md mx-8">
                <div class="relative">
                    <input
                            type="text"
                            placeholder="Search for sports products..."
                            class="w-full px-4 py-2.5 bg-gray-100 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300 text-sm"
                    >
                    <button class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="flex items-center space-x-10">
                <div th:if="${session.user != null}" class="p-1 bg-red-800 rounded-2xl pl-3 pr-3 text-white font-bold hover:bg-white hover:text-red-800">
                    <a th:href="@{/profile}" th:text="${session.user.fullName}"></a>
                </div>
                <div th:if="${session.user == null}" class="text-center cursor-pointer hover:text-red-600 duration-300 group">
                    <div class="p-1 bg-white rounded-2xl pl-3 pr-3 text-black text-base font-bold hover:bg-black hover:text-white">
                        <a href="/login" >Login</a>
                    </div>
                </div>
                <div class="text-center cursor-pointer duration-300 group relative">
                    <a class="text-base text-white hover:scale-105">Cart</a>
                </div>
            </div>
        </div>
    </div>
</header>
