<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout/base :: layout(~{::content}, 'Login')}">
    <th:block th:fragment="content">
        <div class="flex h-dvh">
            <div class="w-1/2">
                <div class="w-3/5 m-auto">
                    <div>
                        <h1 class="font-bold mt-20 mb-2 text-5xl">Login</h1>
                        <p class="mb-8 text-gray-600 text-2xl">Login your account</p>
                    </div>
                    <form class="space-y-4" id="login-form">
                        <div>
                            <label for="username" class="font-medium mb-1 block">Username</label>
                            <input name="username" id="username" class="w-full p-2 pl-4 border-2 rounded-2xl border-solid border-gray-200" type="text" placeholder="Enter your username" />
                        </div>
                        <div>
                            <label for="password" class="font-medium mb-1 block">Password</label>
                            <input name="password" id="password" class="w-full p-2 pl-4 border-2 rounded-2xl border-solid border-gray-200" type="password" placeholder="Enter your password" />
                        </div>
                        <a class="mb-2 flex justify-end block text-red-500" href="/recovery-password"><i>Forget password</i></a>
                        <button class="border-2 border-solid p-2 rounded-2xl bg-red-500 w-full text-white block">Submit</button>

                        <p>Don't have an account? <a href="/register" class="text-red-500">Register an account</a></p>
                    </form>
                </div>
            </div>
            <div class="w-1/2 flex justify-end">
                <img class="h-full" src="https://github.com/thenavik/nike-login-page/blob/main/img/nike.png?raw=true"  alt=""/>
            </div>
        </div>

        <script src="/assets/js/pages/auth/auth.js"></script>
    </th:block>
</th:block>
</html>